<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="1.6.0" targetFramework="net40-Client" />
  <package id="LivetCask" version="1.0.4.0" targetFramework="net40-Client" />
  <package id="ReactiveProperty" version="0.3.2.0" targetFramework="net40-Client" />
  <package id="Rx-Core" version="2.0.20823" targetFramework="net40-Client" />
  <package id="Rx-Interfaces" version="2.0.20823" targetFramework="net40-Client" />
  <package id="Rx-Linq" version="2.0.20823" targetFramework="net40-Client" />
  <package id="Rx-Main" version="2.0.20814" targetFramework="net40-Client" />
  <package id="Rx-PlatformServices" version="2.0.20823" targetFramework="net40-Client" />
  <package id="Rx-WPF" version="2.0.20814" targetFramework="net40-Client" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net40-Client" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net40-Client" />
</packages>